App_WebReferences/HRISEvents/wswebhradm1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebHrAdm1.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WebHrAdm1.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebHrAdm1.org/">
      <s:element name="EventTransaction">
        <s:complexType />
      </s:element>
      <s:element name="EventTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EventTransactionResult" type="tns:admITEventTransactions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="admITEventTransactions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Circular" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EventID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EventDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Completed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CompletedOn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEventTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Record" type="tns:admITEventTransactions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateEventTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEventTransactionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EventTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:EventTransaction" />
  </wsdl:message>
  <wsdl:message name="EventTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:EventTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateEventTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEventTransaction" />
  </wsdl:message>
  <wsdl:message name="CreateEventTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEventTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="wsWebHrAdm1Soap">
    <wsdl:operation name="EventTransaction">
      <wsdl:input message="tns:EventTransactionSoapIn" />
      <wsdl:output message="tns:EventTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateEventTransaction">
      <wsdl:input message="tns:CreateEventTransactionSoapIn" />
      <wsdl:output message="tns:CreateEventTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsWebHrAdm1Soap" type="tns:wsWebHrAdm1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventTransaction">
      <soap:operation soapAction="http://WebHrAdm1.org/EventTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventTransaction">
      <soap:operation soapAction="http://WebHrAdm1.org/CreateEventTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsWebHrAdm1Soap12" type="tns:wsWebHrAdm1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EventTransaction">
      <soap12:operation soapAction="http://WebHrAdm1.org/EventTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEventTransaction">
      <soap12:operation soapAction="http://WebHrAdm1.org/CreateEventTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsWebHrAdm1">
    <wsdl:port name="wsWebHrAdm1Soap" binding="tns:wsWebHrAdm1Soap">
      <soap:address location="http://192.9.200.150/WebHRAdm1/app_services/wswebhradm1.asmx" />
    </wsdl:port>
    <wsdl:port name="wsWebHrAdm1Soap12" binding="tns:wsWebHrAdm1Soap12">
      <soap12:address location="http://192.9.200.150/WebHRAdm1/app_services/wswebhradm1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>